// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h3   {
  color:#1d89cf;
  border-color: #1d89cf;
}

h4   {
  color:#1d89cf;
  border-color: #1d89cf;
}
