<!DOCTYPE html>
  <!--[if IE 8]>         <html class="ie8"> <![endif]-->
  <!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
  <!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Fiscalhub - Ingreso</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <!-- link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css" -->

    <%= stylesheet_link_tag 'signin', media: 'all', 'data-turbolinks-track' => true %>

    <!--[if lt IE 9]>
    <script src="assets/javascripts/ie.min.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body class="theme-default page-signin">
    <div class="signin-container">
      <div class="signin-info">
        <a href="/" class="logo">
          <img height="50px" src="/assets/logo.png">&nbsp;

        </a> <!-- / .logo -->
        <div class="slogan">
          Simple. Flexible. Powerful.
        </div> <!-- / .slogan -->
        <ul>

        </ul> <!-- / Info list -->
      </div>

      <div class="signin-form">
        
      </div>

    </div>
    <div class="not-a-member">
      <a href="">Registrate</a>
    </div>

    <%= javascript_include_tag 'signin', 'data-turbolinks-track' => true %>
  </body>
</html>